---
import InformationIcon from "../../icons/InformationIcon.astro";
import WarningIcon from "../../icons/WarningIcon.astro";
import ThumbsDownIcon from "../../icons/ThumbsDownIcon.astro";
import ThumbsUpIcon from "../../icons/ThumbsUpIcon.astro";

interface Props {
    type?: "note" | "warning" | "dislike" | "like";
}

const { type, ...props } = Astro.props;
---

<blockquote
    class:list={[
        "relative flex flex-col my-4 px-5 py-2.5",
        "after:content-[''] after:absolute after:top-0 after:left-0 after:w-1.5 after:h-full after:shadow-lg",
        !type && "bg-gray-800/50 after:bg-gray-800",
        type == "note" && "bg-blue-600/50 after:bg-blue-600",
        type == "warning" && "bg-amber-600/50 after:bg-amber-600",
        type == "dislike" && "bg-red-600/50 after:bg-red-600",
        type == "like" && "bg-green-600/50 after:bg-green-600",
    ]}
    {...props}
>
    {
        type && (
            <label class="flex items-center gap-2 mb-2 text-white font-semibold">
                {type == "note" && <InformationIcon size={12} />}
                {type == "warning" && <WarningIcon size={12} />}
                {type == "dislike" && <ThumbsDownIcon size={12} />}
                {type == "like" && <ThumbsUpIcon size={12} />}
                {type.toString().toUpperCase()}
            </label>
        )
    }
    <slot />
</blockquote>
