---
import type Post from "../../types/post";

interface Props {
    post: Post;
}

const { post } = Astro.props;
---

<a
    href={`/blog/${post.slug}`}
    class="flex flex-col gap-2 p-2.5 border border-gray-700 rounded-lg hover:bg-gray-900 transition-colors"
>
    <span class="font-semibold">
        {post.data.title || "New blog"}
    </span>
    <span class="text-gray-400 text-sm">
        {new Date(post.data.pubDate).toDateString()}
    </span>
</a>
