name: Quality

on:
  pull_request:
  push:
    branches:
      - develop

jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Install
        uses: ./.github/workflows/composite-actions/install

      - name: Run ESLint check
        run: pnpm eslint

  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Install
        uses: ./.github/workflows/composite-actions/install

      - name: Run Prettier check
        run: pnpm prettier
