name: Release

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Login
        uses: docker/login-action@v3.1.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.5.1
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5.3.0
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            NUXT_PUBLIC_POSTHOG_PUBLIC_KEY=${{ env.NUXT_PUBLIC_POSTHOG_PUBLIC_KEY }}
            NUXT_PUBLIC_STUDIO_TOKENS=${{ env.NUXT_PUBLIC_STUDIO_TOKENS }}
            NUXT_PUBLIC_BASE_URL=${{ env.NUXT_PUBLIC_BASE_URL }}

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production
    needs: publish
    steps:
      - name: Pull and up
        uses: appleboy/ssh-action@v1.0.3
        env:
          GITHUB_TOKEN: ${{ github.token }}
          REGISTRY: ${{ secrets.REGISTRY }}
          SSH_USER: ${{ secrets.SSH_USER }}
          WORK_DIR: ${{ secrets.WORK_DIR }}
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: GITHUB_TOKEN,REGISTRY,SSH_USER,WORK_DIR
          script: |
            echo "$GITHUB_TOKEN" | docker login $REGISTRY -u "$SSH_USER" --password-stdin
            cd $WORK_DIR
            docker-compose pull && docker-compose up -d
